Repository elvees/ddrinit: changes, and which Zuul jobs are due for each by the changed paths.
All: ddrinit-build, ddrinit-build-docs, ddrinit-publish-docs

zuul.d/zuul.yaml:

- job:
    name: ddrinit-build
    run: zuul.d/playbooks/build.yaml
    irrelevant-files:
      - doc/

- job:
    name: ddrinit-build-docs
    parent: build-docs
    files: &doc-files
      - doc/
      - Pipfile$
    vars:
      build_cmd: |
        set -ex
        module use -a /usr/corp/Projects/ipcam-vip1/modules
        module load plantuml
        pipenv install --skip-lock
        SPHINXFLAGS=-W pipenv run make -C doc html
        pipenv run make -C doc check
      build_items:
        - title: ddrinit HTML docs
          basename: ddrinit-docs-html  # HTML archive is createad as <basename>.tar.gz
          build_dir: doc/build/html

- job:
    name: ddrinit-publish-docs
    parent: publish-docs
    dependencies: [ddrinit-build-docs]
    files: *doc-files
    vars:
      publish_docs_artifact_basename: ddrinit-docs-html
      publish_docs_dest_dir: /usr/corpneo/pdist/docs/ddrinit

- project:
    check:
      jobs:
        - ddrinit-build
        - ddrinit-build-docs
        - pre-commit

    deploy:
      jobs:
        - ddrinit-build-docs
        - ddrinit-publish-docs

    experimental:
      jobs:
        - ecam03-buildroot-build
        - solaris-buildroot-build

Remove dependency on Python 2
  Makefile
Due: ddrinit-build

mcom03: Don't use hardcoded timer frequency
  include/plat/mcom03/regs.h
  include/plat/plat.h
  src/Kconfig.basic
  src/common.c
  src/plat/mcom03/mcom03.c
  src/plat/solaris/solaris.c
Due: ddrinit-build

configs: Use a common board naming format
  configs/aurora-r1.0_defconfig
  configs/b3v3u-r1.0_defconfig
  configs/ecam03bl-r1.0_defconfig
  configs/ecam03dm-r1.0_defconfig
  configs/ecam03ptz-r1.0_defconfig
  configs/egwpm-r1.0_defconfig
  configs/ip-ku-m1-r1.0_defconfig
  configs/iqcam-proc-r1.0_defconfig
  configs/mcom03bub-r1.3.0_defconfig
  configs/pm03cam-r1.0_defconfig
  configs/solarisbub-r1.0_defconfig
  configs/solarisddr3-r1.0_defconfig
  configs/trustphonepm-r1.5_defconfig
Due: ddrinit-build

Remove mention about IQCAM
  doc/index.rst
Due: ddrinit-build-docs, ddrinit-publish-docs

mcom03: pm03cam: Enable PHY firmware v2023.09
  configs/pm03cam-r2.0_defconfig
Due: ddrinit-build

mcom03: Align ddrinit binary
  src/plat/mcom03/Makefile
Due: ddrinit-build

Fix prompt name for PHY_D4TX_PREAMBLE_LEN option
  src/Kconfig.advanced
Due: ddrinit-build

mcom03: Use LSP1 TIMERS0[7]
  src/plat/mcom03/mcom03.c
Due: ddrinit-build

mcom03: Add bootstage support
  include/common.h
  include/plat/mcom03/bootstage.h
  include/plat/plat.h
  src/ddrinit.c
  src/plat/Kconfig.plat
  src/plat/mcom03/Makefile
  src/plat/mcom03/bootstage.c
  src/plat/mcom03/link-mips32.ld.S
  src/plat/mcom03/mcom03.c
  src/plat/solaris/solaris.c
Due: ddrinit-build

mcom03: pm03cam: Increase DDR rate to 2400 MT/s
  configs/pm03cam-r2.0_defconfig
Due: ddrinit-build

mcom03: Support Skif-MSB v2.0
  configs/skifmsb-v2.0_defconfig
  doc/index.rst
Due: ddrinit-build, ddrinit-build-docs, ddrinit-publish-docs

mcom03: Add Kconfig option for arm-hang-test
  src/Kconfig.advanced
  src/plat/mcom03/mcom03.c
Due: ddrinit-build

mcom03: Add ability to override PLL settings
  fragments/mcom03/pll-cfg-override.fragment
  src/Kconfig.advanced
  src/plat/mcom03/mcom03.c
Due: ddrinit-build

mcom03: Add fragments to override DDR rate
  fragments/mcom03/ddr4-rate-1250.fragment
  fragments/mcom03/lpddr4-rate-533.fragment
Due: ddrinit-build

skifmsb-v2.0_defconfig: Decrease DRAM rate for Skif-MSB v2.0
  configs/skifmsb-v2.0_defconfig
Due: ddrinit-build

pm03cam-r2.0_defconfig: Use vendor recommended TX slew rates
  configs/pm03cam-r2.0_defconfig
Due: ddrinit-build

mcom03: Drop support of Trustphone
  configs/trustphonepm-r1.5_defconfig
  doc/index.rst
Due: ddrinit-build, ddrinit-build-docs, ddrinit-publish-docs

mcom03: Add PM03CAM r3.0 support
  configs/pm03cam-r3.0_defconfig
Due: ddrinit-build

mcom03: Allow to select 2023.09 firmware only if 2 ranks enabled
  configs/ecam03bl-r1.0_defconfig
  configs/ecam03dm-r1.0_defconfig
  configs/ecam03ptz-r1.0_defconfig
  configs/egwpm-r1.0_defconfig
  configs/elvmc03-r2.2_defconfig
  configs/elvmc03ce-r2.11.0_defconfig
  configs/elvmc03ce-r2.4_defconfig
  configs/elvmc03ce-r2.5.0_defconfig
  configs/elvmc03ce-r2.8.1_defconfig
  configs/elvmc03q7-r1.0_defconfig
  configs/elvmc03q7-r2.1.1_defconfig
  configs/elvmc03q7-r2.11.1_defconfig
  configs/elvmc03q7-r2.8.1_defconfig
  configs/elvmc03smarc-r1.0_defconfig
  configs/elvmc03smarc-r2.10.0_defconfig
  configs/elvmc03smarc-r2.11.0_defconfig
  configs/elvmc03smarc-r2.2.0_defconfig
  configs/elvmc03smarc-r2.6.1_defconfig
  configs/elvmc03smarc-r2.7.1_defconfig
  configs/elvmc03smarc-r2.9.1_defconfig
  configs/elvmc03smarc-r3.0.0_defconfig
  configs/ip-ku-m1-r1.0_defconfig
  configs/mcom03-ip-ku-ddr4-r1.0_defconfig
  configs/mcom03bub-r1.3.0_defconfig
  configs/monoboard-r1.1.1_defconfig
  configs/monoboard-r1.2.2_defconfig
  configs/pico-itx-r2_defconfig
  configs/pm03cam-r1.0_defconfig
  configs/pm03cam-r2.0_defconfig
  configs/rokirovka-r1.0.1_defconfig
  configs/skifmp-v1.0_defconfig
  configs/skifmsb-v2.0_defconfig
  configs/solarisddr3-r1.0_defconfig
  src/Kconfig.basic
Due: ddrinit-build

mcom03: Increase DP priority using Port Timeout instead of HPR
  src/Kconfig.advanced
Due: ddrinit-build

Remove Solaris support
  Kconfig.build
  configs/aurora-r1.0_defconfig
  configs/b3v3u-r1.0_defconfig
  configs/solarisbub-r1.0_defconfig
  configs/solarisddr3-r1.0_defconfig
  doc/index.rst
  fragments/solaris/ddr4-1600-mta9asf2g72az.fragment
  fragments/solaris/jtag.fragment
  fragments/solaris/llc-spram.fragment
  include/plat/solaris/regs.h
  src/Kconfig.advanced
  src/Kconfig.basic
  src/plat/Kconfig.plat
  src/plat/solaris/Makefile
  src/plat/solaris/link-solaris.ld.S
  src/plat/solaris/solaris.c
  src/plat/solaris/start-solaris.S
  zuul.d/playbooks/build.sh
Due: ddrinit-build, ddrinit-build-docs, ddrinit-publish-docs

mcom03: Fix PM03CAM r3.0 DDR support
  configs/pm03cam-r3.0_defconfig
Due: ddrinit-build

mcom03: Move PLL settings override code
  src/plat/mcom03/mcom03.c
Due: ddrinit-build

mcom03: Compute UCG channel dividers for frequencies
  include/common.h
  src/plat/mcom03/mcom03.c
Due: ddrinit-build

mcom03r: Add ELV-MC03-CE PM r3.2.0 support
  configs/elvmc03ce-r3.2.0_defconfig
  doc/index.rst
Due: ddrinit-build, ddrinit-build-docs, ddrinit-publish-docs

mcom03r: Add ELV-MC03-Q7 r3.3.0 support
  configs/elvmc03q7-r3.3.0_defconfig
  doc/index.rst
Due: ddrinit-build, ddrinit-build-docs, ddrinit-publish-docs
